header, h1, h2, h3, h4, .features-name, .service-name, .testimonials-name, .blog-name, .contact-name,
.footer-nav, .footer-industary, ul.footer-social, .industry-slider, .project-name, .project-link-info {
    font-family: 'Montserrat', sans-serif;
}

.about-us-descr, .features-descr, .features-contact, .service-descr, .testimonials-descr, .testimonials-info,
.blog-date, .blog-descr, .contact-link, .newsletter-descr, .copyright, .project-one-descr, .project-two-descr {
    font-family: 'Domine', serif;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h1 {
    font-size: 16px;
    font-weight: 400;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

.about-us-descr, .features-descr, .service-descr, .testimonials-descr, .testimonials-info, .blog-date, .blog-descr,
.project-two-descr, .project-one-descr {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.features-name {
    font-size: 17px;
    font-weight: 700;
}

.features-contact {
    font-size: 20px;
    font-weight: 400;
}

.service-name, .blog-name, .contact-name, .project-name{
    font-size: 18px;
    font-weight: 700;
}

.contact-link {
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

h4, .industry-slider {
    font-size: 20px;
    font-weight: 700;
}

.footer-nav, .footer-industary {
    font-size: 13px;
    font-weight: 400;
    line-height: 30px;
}

.newsletter-descr, .copyright {
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

ul.footer-social {
    font-size: 13px;
    font-weight: 400;
}

.project-link-info {
    font-size: 12px;
    font-weight: 400;
}
