header, h1, h2, h3, .features-name {
    font-family: 'Montserrat', sans-serif;
}

.about-us-descr, .features-descr, .features-contact {
    font-family: 'Domine', serif;
}

h2 {
    font-size: 48px;
    font-weight: 700;
}

h1 {
    font-size: 16px;
    font-weight: 400;
}

h3 {
    font-size: 32px;
    font-weight: 700;
}

.about-us-descr, .features-descr {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
}

.features-name {
    font-size: 17px;
    font-weight: 700;
}

.features-contact {
    font-size: 20px;
    font-weight: 400;
}