h1, h2, .features-contact, .testimonials h3, .testimonials-name, .project-one {
    color: #ffffff;
}

h3, .features-name, .service-name, .blog-name, .blog-date, .contact-name {
    color: #343a3b;
}

.about-us-descr, .features-descr, .service-descr, .blog-descr, .newsletter-descr, .copyright, .project-two-descr {
    color: #838b8c;
}

.testimonials-descr, .testimonials-info {
    color: #ddf8ff;
}

h4 {
    color: #e1e1e1;
}